<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/71684982aa.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-laptop.css" />
  </head>

<body class="bg-light-grey">
    <header class=" header bg-yellow p-8">
      <div class="nav-bar-top">
      <h1 class="w-50">
        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" /></a>
      </h1>
      <input class= "input"type="search" value="search">
      <p class="promocion text-center">
        <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
        credito
      </p>
      </div>
      
      <nav class="nav-bar-bottom mt-8">
        <ul class="nav-section mb-8">
          <li class="nav-section-li "><a class="nav-section-a" href="#">Ofertas</a></li>
          <li class="nav-section-li "><a class="nav-section-a" href="#">Tiendas Oficiales</a></li>
          <li class="nav-section-li "><a class="nav-section-a" href="#">Vender</a></li>
          <li class="nav-section-li "><a class="nav-section-a" href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-section mb-8">
          <li class="nav-section-li "><a class="nav-section-a" href="/register">Crea tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
          <li class="nav-section-li "><a class="nav-section-a" href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
          <li class="nav-section-li "><a class="nav-section-a" href="#">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </nav>
      <div class="burger-menu font-heading">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <img
    src="/images/img-home-banner.jpg"
    alt="Promoción fiestas"
    width="100%"
    />
    <main class="p-8 w-90 w-tablet-70 m-center">
        <form class="mt-16" action="/" method="GET">
            <div class="form-field error fix wrap">
              <label for="fullname" class="accessibility-label none"
                >Nombre de usuario</label
              >
              <input
                class="form-input b-1-hidden b-circle-4 w-100"
                id="username"
                type="text"
                name="username"
                placeholder="Nombre de usuario"
              />
            </div>
            <div class="form-field fix no-wrap">
              <label for="username" class="accessibility-label none"
                >Contraseña</label
              >
              <input
                class="form-input b-1-hidden b-circle-4 w-100"
                id="password"
                type="text"
                name="password"
                placeholder="Contraseña"
              />
            </div>
            <button class="login-buttom font-white bg-light-blue w-100 buttom-settings" type="submit">
                Enviar
              </button>
    </main>
    <footer class="p-8">
        <section>
            <div class="footer-articles"></div>
            <article class='text-center w-70 m-center'>
                <i class="fas fa-credit-card font-light-blue m-10 font-xxlarge"></i>
                <h2>Pagá con tarjeta o en efectivo</h2> 
                <p class="m-10" >Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class='text-center w-70 m-center'>
                <i class="fas fa-gift font-light-blue m-10 font-xxlarge"></i>
                <h2>Envío gratis desde $ 2.500 </h2>
                <p class="m-10">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class='text-center w-70 m-center'>
                <i class="fas fa-user-shield font-light-blue m-10 font-xxlarge"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p class="m-10">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            </div>
            <article class="mt-16">
                <h2 class = 'opacity font-small' >Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            </article>
        </section>
        
    </footer>
</body>
</html>
    